.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 5%;
}

.about-title {
  position: relative;
  text-align: center;
}

.about-title h1 {
  padding: 0px 20px;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.about-left img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-top: 50px;
}

.about-right {
  max-width: 600px;
}

.about-para p {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: justify;
}

.about-para span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .about-title h1 {
    font-size: 50px;
  }
  .about-left img {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .about-title h1 {
    font-size: 40px;
  }
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-para p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .about-title h1 {
    font-size: 35px;
  }
  .about-left img {
    max-width: 300px;
  }
  .about-para p {
    font-size: 16px;
  }
}
