@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element dimensions */
  font-family: "Poppins", sans-serif; /* Default font */
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Poppins", sans-serif; /* Consistent font */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}